*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    /* max-height: 1100px; */
}

/* Azeret Mono font add*/
.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* Header Section Design */
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 100px;
}
.header-anchor-style{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 800;
    
}

/* Here is a hover style that you can add if you want */

/* .header-anchor-style:hover{
    text-decoration: underline;
    text-decoration-color: blue;
    
} */

.header-button-style{
    width: 244px;
    height: 57px;
    color: #0d13219c;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}

/* Main Field Design- Section-1 named "Introduction Section */
.introduction-section{
    background-image: url(../assets/Hero-bg.png);
    height: 800px;
    
}
.intro-area{
    height: 601px;
    display: inline-block;
    margin: 0 50px;
    
}
.introduction-image-div{
    width: 240px;
    height: 240px;
    margin: 50px auto;
}
.introduction-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.introduction-head{
    font-size: 40px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin-bottom: 25px;
    padding: 20px 220px;
}
.introduction-para{
    font-size: 16px;
    padding: 20px 220px;
    color: #0d13219c;
    text-align: center;
    margin-bottom: 32px;

}
.introduction-button{
    width: 244px;
    height: 65px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    border-radius: 8px;
}


.introduction-button>a{
    text-decoration: none;
    color: white;
}
/* argument article about web development named "Discussion-Article"*/


.discussion-article{
    width: 1100px;
    height: 1100px;
    margin: 40px auto;
}
.query-head{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}

.para-style{ 
    font-size: 16px;
    color: #0d132190;
    padding: 24px 25px;
    margin: 0 100px;
    text-align: center;
}

.learn-more-btn{
    width: 171px;
    height: 47px;
   
}
.learn-more-btn>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #0d13219c;
}
.vision-text-div{
    color: #0d13219c;

}
.vision-section{
    display: flex;
    gap: 50px;
    margin: 50px 100px;
}

/* Video Section */

.video-section{
    width: 998px;
    height: 770px;
    margin: 0 auto;
}

/* Here is a article about My target Named"Target-article" */

.target-article{
    width: 1100px;
    height: 550px;
    margin: 100px auto 50px;
   
}
.target-section{
    display: flex;
}
.para-style2{
    font-size: 16px;
    color: #0d132190;
    margin: 10px 0;
}
.lang-description-parents{
    display: flex;
    margin: 50px 25px 0;
    gap: 25px;
    
}
.html-section{
    background-color: #8064f02f;
    padding: 20px;

}
.css-description-section{
    background-color: #EBEBEB ;
    padding: 20px;
}
.js-description-section{
    background-color: #ffdd0025;
    padding: 20px;
}
.lang-description-parents>section>div>h3{
    margin: 15px 0;
}
.lang-description-parents a{
    font-size: 16px;
    font-weight: 800;
    color: black;
    text-decoration: underline;
}

/* Next Target Page */

.next-target-article{
   width: 1250px;
   margin: auto;
   margin-bottom: 100px;

}
.lang-description-area{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 50px;
}
   
.next-lang-description{
    display: flex;
    gap: 10px;
    border: 1px solid #0d132123;
    padding: 50px;
    border-radius: 16px;
    margin: 0 0;
}
.next-lang-description h3{
    font-size: 24px;
    font-weight: 800;

}
.next-lang-description a{
    font-size: 16px;
    font-weight: 800;
    color: black;
    text-decoration: underline;
}


.contact-field{
    background-image: url(../assets/handshake.jpg);
    width: 80vw;
    height: 80vh;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contact-field p{
    color: white;
}
.contact-field h1{
    color: white;
    font-size: 32px;
    font-weight: 800;
    
}
.question-or-feedback{
    width: 548px;
    height: 57px;
    padding-left: 50px;
    border-radius: 8px;

    border: none;
}
.question-submit-btn{
    width: 120px;
    height: 57px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}









/* Footer link */
.footer-link{
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.footer-link div{
    padding: 0 100px;
}
